# Compiled source files
*.class
*.dll
*.exe
*.o
*.so

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
*.log

# Compiled binary output
*.out
*.bin

# C++
*.obj
*.exe
*.out
*.a
*.lib
*.so
*.dll
*.dylib

# Archives
*.zip
*.tar.gz
*.rar

# IDE and editor settings
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Temporary files
*.tmp
*.swp
*.swo

# Build directories
build/
dist/

# Dependency directories
venv/
env/
